/* Variables */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap");
.spacing-xlarge {
  padding: xlarge; }

.spacing-large {
  padding: large; }

.spacing-medium {
  padding: medium; }

.spacing-small {
  padding: small; }

.spacing-xsmall {
  padding: xsmall; }

.c-red {
  color: red; }

.c-white {
  color: white; }

.c-black {
  color: black; }

.c-blue {
  color: blue; }

.fz-large {
  font-size: large; }

.fz-medium {
  font-size: medium; }

.fz-small {
  font-size: small; }

/* Imports */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Globals */
html {
  font-size: 62.5%;
  font-family: "Playfair Display", serif;
  color: #0b0c0d; }

/* body{
      min-height: 100vh;
      display: grid;
      grid-template-rows: auto 1fr auto;
  } */
a {
  text-decoration: none;
  color: #fff;
  display: inline-block; }

ul {
  list-style-type: none; }

/* HELPERS */
.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

.container_items {
  max-width: 1800px;
  margin: 0 auto; }

.txt_center {
  text-align: center; }

.footer_index {
  background-image: linear-gradient(to top, #434343 0%, #0b0b0d 100%);
  font-size: medium; }
  .footer_index section {
    gap: 20rem; }

.footer_mision {
  background-image: linear-gradient(to top, #434343 0%, #020202 100%);
  font-size: medium;
  width: 100%;
  height: 300px; }
  .footer_mision section {
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: space-around; }

/* HEADER & NAVBAR */
.logo_gif {
  width: 250px;
  height: 125px;
  margin-top: 21px; }

header {
  position: sticky;
  top: 0px;
  height: 150px; }

header {
  background-color: #100e11; }
  header .navbar {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem; }
  header .logo {
    flex-basis: 30%; }
  header .menu {
    flex-basis: 50%;
    justify-content: space-between; }
    header .menu .menu__item .menu__link, header .menu .menu__item .menu__link--active {
      font-size: 1.8em;
      padding: 1.5rem;
      position: relative; }
      header .menu .menu__item .menu__link--active {
        border-bottom: 2px solid white; }

.parallax-destino {
  width: 100%;
  height: 750px;
  background-image: url(../../assets/images/fotos/destino/banner.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.background {
  height: 100%;
  width: 100%;
  background-image: url(../../assets/images/dark-souls-brand_background-long.jpg);
  animation-name: background-move;
  animation: background-move 100s linear infinite;
  animation-duration: 100s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-fill-mode: none;
  animation-play-state: running; }

@keyframes background-move {
  100% {
    background-position: 3000px 0px; } }

.maindestino .contenedor_santuario {
  background-color: #100e11; }
  .maindestino .contenedor_santuario article {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center; }
    .maindestino .contenedor_santuario article h1 {
      font-size: 4.1em; }

.maindestino .div_h2 {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center; }
  .maindestino .div_h2 h2 {
    font-size: 3.1em; }

.maindestino .section_descripcion__pri-article {
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2.9em;
  border-bottom: 1px solid #fde49f; }

.maindestino .section_descripcion__pri-div {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.9em; }

.maindestino .section_descripcion__seg-article {
  width: 100%;
  height: 500px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 2.9em; }

.maindestino .section_descripcion__seg-div {
  width: 100%;
  height: 300px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.9em; }

.maindestino .section_descripcion .segdiv {
  border-bottom: 1px solid #fde49f; }

.maindestino .section_descripcion__ter-article .ter-article_pridiv {
  justify-content: space-around;
  align-items: center; }
  .maindestino .section_descripcion__ter-article .ter-article_pridiv img {
    width: 550px;
    height: 550px; }
  .maindestino .section_descripcion__ter-article .ter-article_pridiv p {
    font-size: 2.9em;
    text-align: center; }

.maindestino .section_descripcion__ter-article .ter-article_secdiv {
  height: 800px;
  justify-content: space-around;
  align-items: center; }
  .maindestino .section_descripcion__ter-article .ter-article_secdiv p {
    font-size: 2.9em;
    text-align: center; }

.maindestino .section_descripcion__cua-article .cua-article_pridiv {
  width: 100%;
  height: 700px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem; }
  .maindestino .section_descripcion__cua-article .cua-article_pridiv p {
    width: 800px;
    font-size: 2.9em;
    text-align: center; }
  .maindestino .section_descripcion__cua-article .cua-article_pridiv img {
    width: 900px;
    height: 498px; }

.maindestino .section_descripcion__cua-article .parallax-destino2 {
  width: 100%;
  height: 750px;
  background-image: url(../../assets/images/fotos/destino/23.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: start; }
  .maindestino .section_descripcion__cua-article .parallax-destino2 h2 {
    font-size: 3.1em; }

.maindestino .section_descripcion__cua-article .div_presentacion-quelana {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.9em; }

.maindestino .section_descripcion__cua-article .cua-article_secdiv {
  width: 100%;
  height: 800px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  font-size: 2.9em; }

.maindestino .section_descripcion__cua-article .hermanas_div {
  width: 100%;
  height: 600px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  font-size: 2.9em; }

.maindestino .section_descripcion__cua-article .cua-article_terdiv {
  width: 100%;
  height: 500px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  font-size: 2.9em; }

.maindestino .section_descripcion__cua-article .cua-article_cuadiv {
  width: 100%;
  height: 750px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  font-size: 2.9em; }

.maindestino .section_descripcion .div_bellend {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.9em; }

.maindestino .section_descripcion__quin-article {
  width: 100%;
  height: 700px;
  justify-content: space-around;
  align-items: center;
  gap: 10rem;
  font-size: 2.9em; }

/* ----index---- */
.parallax-completo {
  width: 100%;
  height: 640px;
  background-image: url(../../assets/images/Image3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.contenedor_principal {
  background-color: #0b0b0d; }
  .contenedor_principal--titulo {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center; }
    .contenedor_principal--titulo h1 {
      font-size: 4.1em; }
  .contenedor_principal .contenedor_parrafo--p1 {
    font-size: 3.1em;
    color: #fdfaf8; }
  .contenedor_principal .contenedor_parrafo--img {
    width: 900px;
    height: 900px;
    font-size: 3.1em;
    color: #fdfaf8;
    align-items: center; }
    .contenedor_principal .contenedor_parrafo--img img {
      width: 700px;
      height: 700px; }
    .contenedor_principal .contenedor_parrafo--img .divp p {
      text-align: center;
      width: 970px; }
  .contenedor_principal .contenedor_parrafo--p2 {
    text-align: center;
    font-size: 3.1em; }
    .contenedor_principal .contenedor_parrafo--p2 .box {
      width: 900px;
      height: 900px;
      align-items: center; }
      .contenedor_principal .contenedor_parrafo--p2 .box img {
        width: 700px;
        height: 700px; }
      .contenedor_principal .contenedor_parrafo--p2 .box p {
        text-align: center;
        width: 970px; }
      .contenedor_principal .contenedor_parrafo--p2 .box h3 {
        text-align: center; }
  .contenedor_principal .contenedor_parrafo--p3 {
    text-align: center;
    font-size: 3.1em;
    width: 100%;
    height: 300px;
    justify-content: center; }

.parallax-completo__storys {
  width: 100%;
  height: 807px;
  background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.main_storys .contenedor_storys article {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: #100e11; }
  .main_storys .contenedor_storys article h1 {
    font-size: 4.1em; }

.main_storys .contendor_introduccion-storys .introduccion_storys {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 3.1em;
  color: #fdfaf8; }

.main_storys .introduccion__parrafo {
  width: 100%;
  height: 200px;
  justify-content: center;
  align-items: center;
  font-size: 3.1em;
  color: #fdfaf8; }

.main_storys .contenedor {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh; }
  .main_storys .contenedor figure {
    position: relative;
    height: 521px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px white;
    cursor: pointer; }
    .main_storys .contenedor figure img {
      width: 100%;
      height: 100%;
      transition: all 500ms ease-in-out; }
    .main_storys .contenedor figure .capa {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(11, 103, 123, 0.7);
      transition: all 500ms ease-in-out;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
  .main_storys .contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible; }
  .main_storys .contenedor figure:hover > .capa h3 {
    margin-top: 90px;
    margin-bottom: 1px;
    font-size: large; }
  .main_storys .contenedor figure:hover > img {
    transform: scale(1.3); }
  .main_storys .contenedor h3 {
    color: #fff;
    font-weight: 4000;
    margin-bottom: 120px;
    transition: all 500ms ease-in-out;
    margin-top: 30px; }
