/* HEADER & NAVBAR */
.logo_gif {
    width: 250px;
    height: 125px;
    margin-top: 21px; }

    
  
  header {
    position: sticky;
    top: 0px;
    height: 150px; }
    
  header {
    background-color: $cuarta;
    .navbar {
        min-height: 10vh;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;

    }
    .logo {
            flex-basis: 30%; 
    }
    .menu {
        flex-basis: 50%;
        justify-content: space-between;

        .menu__item {

            .menu__link{
               font-size: 1.8em;
               padding: 1.5rem;
               position: relative;
               &--active{
                @extend .menu__link;
                border-bottom: 2px solid white;

                }
            }
        } 
    }



    
}

@media screen and (max-width: 1024px){
    header{
        max-width: 1024px;
        height: 100%;
        ul{
            font-size: 0.9em;
        }
        picture{
            a{
                .logo_gif{
                    width: 200px;
                    height: 75px;
                }
            }
        }
        
    }

}

@media screen and (max-width: 600px){
    header{
        max-width: 600px;
        height: 100%;
        ul{
            font-size: 0.6em;
        }
        picture{
            a{
                .logo_gif{
                    width: 200px;
                    height: 75px;
                }
            }
        }
        
    }

}

@media screen and (max-width: 480px){
    header{
        max-width: 480px;
        height: 100%;
        ul{
            font-size: 1.0em;
        }
        picture{
            display: none;
        }
    }

}

@media screen and (max-width: 414px){
    header{
        max-width: 414px;
        height: 100%;
        ul{
            font-size: 0.8em;
        }
        picture{
            display: none;
        }
    }

}
@media screen and (max-width: 375px){
    header{
        max-width: 375px;
       height: 100%;
       ul{
           font-size: 0.6em;
       }
       picture{
           display: none;
       }
   }
}

@media screen and (max-width: 360px){
    header{
         max-width: 360px;
        height: 100%;
        ul{
            font-size: 0.6em;
        }
        picture{
            display: none;
        }
    }

}

@media screen and (max-width: 320px){
    header{
        max-width: 320px;
       height: 100%;
       ul{
           font-size: 0.5em;
       }
       picture{
           display: none;
       }
   }

}