/* ----index---- */
.parallax-completo {
  width: 100%;
  height: 710px;
  background-image: url(../../assets/images/Image3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.contenedor_principal {
  background-color: #0b0b0d;

  &--titulo {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 4.1em;
    }
  }

  .contenedor_parrafo {
    &--p1 {
      font-size: 3.1em;
      color: #fdfaf8;
    }

    &--img {
      width: 900px;
      height: 900px;
      font-size: 3.1em;
      color: #fdfaf8;
      align-items: center;

      img {
        width: 700px;
        height: 700px;
      }

      .divp p {
        text-align: center;
        width: 970px;
      }
    }

    &--p2 {
      text-align: center;
      font-size: 3.1em;

      .box {
        width: 900px;
        height: 900px;
        align-items: center;

        img {
          width: 700px;
          height: 700px;
        }

        p {
          text-align: center;
          width: 970px;
        }

        h3 {
          text-align: center;
        }

      }

    }

    &--p3 {
      text-align: center;
      font-size: 3.1em;
      width: 100%;
      height: 300px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 1024px){
  .mainindex {
    overflow: hidden;



    .contenedor_principal {

      width: 1024px;

      &--titulo {
        h1 {
          font-size: 3.1em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.9em;
        }

        &--img {

          .divp {
            justify-items: center;

            p {
              width: 1024px;
            }
          }

          font-size: 2.0em;
          flex-wrap: wrap;

          div {
            width: 1024px;
            img {
              width: 100%;
            }
          }
        }

        &--p2 {
          font-size: 2.0em;

          .box {
            width: 1024px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 1024px;
              order: 0;
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 2.1em;
        }
      }
    }
  }

}

@media screen and (max-width: 768px){
  .mainindex {
    overflow: hidden;



    .contenedor_principal {

      width: 768px;

      &--titulo {
        h1 {
          font-size: 3.1em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.9em;
        }

        &--img {

          .divp {
            justify-items: center;

            p {
              width: 768px;
            }
          }

          font-size: 2.0em;
          flex-wrap: wrap;

          div {
            width: 768px;
            img {
              width: 100%;
            }
          }
        }

        &--p2 {
          font-size: 2.0em;

          .box {
            width: 768px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 768px;
              order: 0;
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 2.1em;
        }
      }
    }
  }

}

@media screen and (max-width: 600px) {
  .mainindex {
    overflow: hidden;
    width: 600px;



    .contenedor_principal {

      width: 600px;

      &--titulo {
        h1 {
          font-size: 3.1em;
        }
      }
      .dioses{
        width: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        img{
          width: 100%;
        
        }
      }

      .contenedor_parrafo {
        



        &--p1 {
          font-size: 2.1em;
        }

        &--img {
          width: 600px;

          .divp {
            justify-items: center;

            p {
              width: 600px;
            }
          }

          font-size: 2.1em;
          flex-wrap: wrap;

          div {
            img {
              width: 100%;
            }
          }
        }

        &--p2 {
          font-size: 2.1em;

          .box {
            width: 600px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 600px;
              order: 0;
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 2.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .mainindex {
    overflow: hidden;
    width: 480px;



    .contenedor_principal {

      width: 480px;

      &--titulo {
        h1 {
          font-size: 3.1em;
        }
      }
      .dioses{
        width: 480px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-items: center;
        img{
          width: 100%;
        
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.7em;
        }

        &--img {
          width: 480px;

          .divp {
            justify-items: center;

            p {
              width: 480px;
            }
          }

          font-size: 1.7em;
          flex-wrap: wrap;

          div {
            img {
              width: 100%;
            }
          }
        }

        &--p2 {
          font-size: 1.7em;

          .box {
            width: 480px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 480px;
              
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 1.7em;
        }
      }
    }
  }
}

@media screen and (max-width: 414px) {
  .mainindex {
    overflow: hidden;
    width: 414px;



    .contenedor_principal {

      width: 414px;

      &--titulo {
        h1 {
          font-size: 2.1em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.5em;
        }

        &--img {
          width: 100%;

          .divp {
            justify-items: center;

            p {
              width: 414px;
            }
          }

          font-size: 1.7em;
          flex-wrap: wrap;

          .dioses{
            width: 100%;
            height: 300px;
            img {
              width: 100%;
              height: 300px;
            }
          }
        }

        &--p2 {
          font-size: 1.7em;

          .box {
            width: 414px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 414px;
              
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 1.6em;
        }
      }
    }
  }
  
}

@media screen and (max-width: 375px) {
  .mainindex {
    overflow: hidden;
    width: 375px;



    .contenedor_principal {

      width: 375px;

      &--titulo {
        h1 {
          font-size: 2.0em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.3em;
        }

        &--img {
          width: 100%;

          .divp {
            justify-items: center;

            p {
              width: 375px;
            }
          }

          font-size: 1.3em;
          flex-wrap: wrap;

          .dioses{
            width: 100%;
            height: 300px;
            img {
              width: 100%;
              height: 300px;
            }
          }
        }

        &--p2 {
          font-size: 1.3em;

          .box {
            width: 375px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 375px;
              
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 1.2em;
        }
      }
    }
  }
  
}

@media screen and (max-width: 360px) {
  .mainindex {
    overflow: hidden;
    width: 360px;



    .contenedor_principal {

      width: 360px;

      &--titulo {
        h1 {
          font-size: 2.0em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.2em;
        }

        &--img {
          width: 100%;

          .divp {
            justify-items: center;

            p {
              width: 360px;
            }
          }

          font-size: 1.2em;
          flex-wrap: wrap;

          .dioses{
            width: 100%;
            height: 300px;
            img {
              width: 100%;
              height: 300px;
            }
          }
        }

        &--p2 {
          font-size: 1.2em;

          .box {
            width: 360px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 360px;
              
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 1.0em;
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .mainindex {
    overflow: hidden;
    width: 320px;



    .contenedor_principal {

      width: 320px;

      &--titulo {
        h1 {
          font-size: 2.0em;
        }
      }

      .contenedor_parrafo {


        &--p1 {
          font-size: 1.1em;
        }

        &--img {
          width: 100%;

          .divp {
            justify-items: center;

            p {
              width: 320px;
            }
          }

          font-size: 1.1em;
          flex-wrap: wrap;

          .dioses{
            width: 100%;
            height: 300px;
            img {
              width: 100%;
              height: 300px;
            }
          }
        }

        &--p2 {
          font-size: 1.1em;

          .box {
            width: 320px;
            flex-wrap: wrap;
            justify-content: center;

            img {
              width: 100%;
            }

            p {
              width: 320px;
              
            }

            h3 {
              text-align: center;
            }
          }
        }

        &--p3 {
          font-size: 1.1em;
        }
      }
    }
  }
}

