.parallax-completo__storys {
  width: 100%;
  height: 807px;
  background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.main_storys {
  .contenedor_storys {
    article {
      width: 100%;
      height: 200px;
      justify-content: center;
      align-items: center;

      background-color: #100e11;

      h1 {
        font-size: 4.1em;
      }
    }

  }

  .contendor_introduccion-storys {
    .introduccion_storys {
      width: 100%;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 3.1em;
      color: #fdfaf8;
    }

  }

  .introduccion__parrafo {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 3.1em;
    color: #fdfaf8;







  }

  .contenedor {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;

    figure {
      position: relative;
      height: 521px;
      width: 350px;
      overflow: hidden;
      border-radius: 6px;
      box-shadow: 0px 15px 25px white;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        transition: all 500ms ease-in-out;
      }

      .capa {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(11, 103, 123, 0.7);
        transition: all 500ms ease-in-out;
        opacity: 0;
        visibility: hidden;
        text-align: center;
      }
    }

    figure:hover>.capa {
      opacity: 1;
      visibility: visible;
    }

    figure:hover>.capa h3 {
      margin-top: 90px;
      margin-bottom: 1px;
      font-size: large;

    }

    figure:hover>img {
      transform: scale(1.3);


    }

    a {
      height: 500px;
      width: 350px;
    }


    h3 {
      color: #fff;
      font-weight: 4000;
      margin-bottom: 70px;
      margin-top: 15px;
      transition: all 500ms ease-in-out;

    }

  }

  // .div_h2-storys {
  //   width: 100%;
  //   height: 200px;
  //   justify-content: center;
  //   align-items: center;

  //   h2 {
  //     font-size: 3.1em;
  //   }

  // }

  // .descripcion_sif {
  //   width: 100%;
  //   height: 200px;
  //   justify-content: center;
  //   align-items: center;
  //   text-align: center;
  //   font-size: 2.9em;
  // }

  // .descripcion_artorias {
  //   width: 100%;
  //   height: 600px;

  //   align-items: center;
  //   gap: 10rem;
  //   font-size: 2.9em;


  // }.descripcion_artorias2 {
  //   width: 100%;
  //   height: 600px;
  //   justify-content: space-around;
  //   align-items: center;
  //   gap: 10rem;
  //   font-size: 2.9em;
  //   border-bottom: 1px solid #fde49f;

  // }







}

@media screen and(max-width:1024px) {
  .parallax-completo__storys {
    width: 1024px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 1024px;

    .contenedor_storys {
      article {
        width: 1024px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 3.1em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 1024px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 2.1em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 1024px;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 2.1em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }

    .contenedor {

      width: 1024px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;

      figure {
        position: relative;
        height: 521px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px white;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          transition: all 500ms ease-in-out;
        }

        .capa {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(11, 103, 123, 0.7);
          transition: all 500ms ease-in-out;
          opacity: 0;
          visibility: hidden;
          text-align: center;
        }
      }

      figure:hover>.capa {
        opacity: 1;
        visibility: visible;
      }

      figure:hover>.capa h3 {
        margin-top: 90px;
        margin-bottom: 1px;
        font-size: large;

      }

      figure:hover>img {
        transform: scale(1.3);


      }

      a {
        height: 500px;
        width: 350px;
      }


      h3 {
        color: #fff;
        font-weight: 4000;
        margin-bottom: 70px;
        margin-top: 15px;
        transition: all 500ms ease-in-out;

      }

    }
  }
  
}


@media screen and(max-width:768px) {
  .parallax-completo__storys {
    width: 768px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 768px;

    .contenedor_storys {
      article {
        width: 768px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 3.1em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 768px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 2.1em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 768px;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 2.1em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }

    .contenedor {

      width: 768px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;

      figure {
        position: relative;
        height: 521px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px white;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          transition: all 500ms ease-in-out;
        }

        .capa {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(11, 103, 123, 0.7);
          transition: all 500ms ease-in-out;
          opacity: 0;
          visibility: hidden;
          text-align: center;
        }
      }

      figure:hover>.capa {
        opacity: 1;
        visibility: visible;
      }

      figure:hover>.capa h3 {
        margin-top: 90px;
        margin-bottom: 1px;
        font-size: large;

      }

      figure:hover>img {
        transform: scale(1.3);


      }

      a {
        height: 500px;
        width: 350px;
      }


      h3 {
        color: #fff;
        font-weight: 4000;
        margin-bottom: 70px;
        margin-top: 15px;
        transition: all 500ms ease-in-out;

      }

    }
  }
  
}

@media screen and (max-width:600px) {
  .parallax-completo__storys {
    width: 600px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 600px;

    .contenedor_storys {
      article {
        width: 600px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 3.1em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 600px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 2.1em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 600px;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 2.1em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }

    .contenedor {

      width: 600px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;

      figure {
        position: relative;
        height: 521px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px white;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          transition: all 500ms ease-in-out;
        }

        .capa {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(11, 103, 123, 0.7);
          transition: all 500ms ease-in-out;
          opacity: 0;
          visibility: hidden;
          text-align: center;
        }
      }

      figure:hover>.capa {
        opacity: 1;
        visibility: visible;
      }

      figure:hover>.capa h3 {
        margin-top: 90px;
        margin-bottom: 1px;
        font-size: large;

      }

      figure:hover>img {
        transform: scale(1.3);


      }

      a {
        height: 500px;
        width: 350px;
      }


      h3 {
        color: #fff;
        font-weight: 4000;
        margin-bottom: 70px;
        margin-top: 15px;
        transition: all 500ms ease-in-out;

      }

    }
  }
}

@media screen and (max-width:480px) {
  .parallax-completo__storys {
    width: 480px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 480px;

    .contenedor_storys {
      article {
        width: 480px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 2.1em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 480px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 1.6em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 480px;
      height: 200px;
      justify-content: center;
      align-items: center;
      font-size: 1.5em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }

    .contenedor {

      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70vh;

      figure {
        position: relative;
        height: 521px;
        width: 350px;
        overflow: hidden;
        border-radius: 6px;
        box-shadow: 0px 15px 25px white;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          transition: all 500ms ease-in-out;
        }

        .capa {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(11, 103, 123, 0.7);
          transition: all 500ms ease-in-out;
          opacity: 0;
          visibility: hidden;
          text-align: center;
        }
      }

      figure:hover>.capa {
        opacity: 1;
        visibility: visible;
      }

      figure:hover>.capa h3 {
        margin-top: 90px;
        margin-bottom: 1px;
        font-size: large;

      }

      figure:hover>img {
        transform: scale(1.3);


      }

      a {
        height: 500px;
        width: 350px;
      }


      h3 {
        color: #fff;
        font-weight: 4000;
        margin-bottom: 70px;
        margin-top: 15px;
        transition: all 500ms ease-in-out;

      }

    }
  }
}

@media screen and (max-width: 414px) {
  .parallax-completo__storys {
    width: 414px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 414px;

    .contenedor_storys {
      article {
        width: 414px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 1.9em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 414px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 414px;
      height: 100px;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 375px) {
  .parallax-completo__storys {
    width: 375px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 375px;

    .contenedor_storys {
      article {
        width: 375px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 1.8em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 375px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 375px;
      height: 100px;
      justify-content: center;
      align-items: center;
      font-size: 1.4em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }
  }
}


@media screen and (max-width:360px) {

  .parallax-completo__storys {
    width: 360px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 360px;

    .contenedor_storys {
      article {
        width: 360px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 1.6em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 360px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 360px;
      height: 100px;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }
  }
}


@media screen and (max-width: 320px) {
  .parallax-completo__storys {
    width: 320px;
    height: 500px;
    background-image: url(../../assets/images/fotos/Storys/juntada22.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }

  .main_storys {
    width: 320px;

    .contenedor_storys {
      article {
        width: 320px;
        height: 100px;
        justify-content: center;
        align-items: center;

        background-color: #100e11;

        h1 {
          font-size: 1.5em;
        }
      }

    }

    .contendor_introduccion-storys {
      .introduccion_storys {
        width: 320px;
        height: 200px;
        justify-content: center;
        align-items: center;
        font-size: 1.1em;
        color: #fdfaf8;
      }

    }

    .introduccion__parrafo {
      width: 320px;
      height: 100px;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      color: #fdfaf8;







    }

    .section_historias {
      flex-wrap: wrap;
    }
  }
}